<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Students</title>
    <link rel="stylesheet" href="../lib/bootstrap.min.css" />
  </head>
  <body>
    <h1 class="text-center"></h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add New Student
    </button>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Registration No</th>
          <th scope="col">Parent Email</th>
          <th scope="col">Attendance</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="table-body"></tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Student</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" id="name" class="form-control">
              </div>
              <div class="form-group">
                <label for="regNo">Registration No</label>
                <input type="text" id="regNo" class="form-control">
              </div>
              <div class="form-group">
                <label for="email">Parent Email address</label>
                <input type="email" id="email" class="form-control">
              </div>
              <div class="form-group">
                <label for="fingerId">Fingerprint ID</label>
                <input type="number" disabled id="fingerId" class="form-control">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button id="save" type="button" class="btn btn-success">Save changes</button>
          </div>
        </div>
      </div>
    </div>   

    <script defer src="../lib/bootstrap.min.js"></script>
    <script>
      window.api.studentData();
      window.api.enrollId();

      document.querySelector("#save").addEventListener("click", (e) => {
        const name = document.querySelector("#name").value.trim();
        const regNo = document.querySelector("#regNo").value.trim();
        const parentEmail = document.querySelector("#email").value.trim();
        const fingerprintId = parseInt(document.querySelector("#fingerId").value);

        if (name === "" || regNo === "" || parentEmail === "" || isNaN(fingerprintId)) {
          alert("Please fill all fields");
          return;
        }

        window.api.addNewStudent({
          name,
          regNo,
          parentEmail,
          fingerprintId
        });
      });

      document.querySelector("#table-body").addEventListener("click", (e) => {
          const studentId = e.target.dataset.id;
          if (e.target.tagName === "BUTTON" && e.target.dataset.type === "view attendance") {
            window.api.openAttendance(studentId);
          }
      });
      
      document.querySelector("#exampleModal").addEventListener("hidden.bs.modal", () => {
        window.api.studentData();
      });
    </script>
  </body>
</html>
